# Editor directories and files
**/.vscode/*
!**/.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# Assignment build artifacts
build/
assignment*/build/

# Motion Canvas files
videos/node_modules/
videos/output/