# Editor directories and files
**/.vscode/*
!**/.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# Assignment build artifacts
*.tar*
*.o
*.pch

# Motion Canvas files
videos/node_modules/
videos/output/
